.thumb {
    display: inline-block;
    width: 250px;
    text-align: center;
    vertical-align: bottom;
    padding: 10px;
    margin: 2px;
    border: 1px solid var(--charcoal);
    height: 320px;
}
.thumb:hover {
    cursor: pointer;
    background-color: var(--pig-light);
}
.thumb > img {
    max-width: 200px;
    max-height: 250px;
}
.wide > img {
	max-height: 200px;
	max-width: 250px;
}
.overtall {
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}
