:root {
    --pig: #f9bea9;
    --pig-light: #ffe8db;
    --purp: #d2b6dd;
    --purp-semi: #e0cfe8;
    --purp-light: #eee5f2;
    --bg: #fff;
    --charcoal: #333;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
}

h1 {
    background-color: var(--bg);
    margin: 0px;
    padding: 10px 0;
}

#header {
    display: inline-block;
}

#blurb {
    position: relative;
    padding-bottom: 10px;
    position: relative;
    background-color: var(--bg);
}

#quote {
    margin-top: 10px;
}

.first {
    margin-top: 30px;
}

.center {
    text-align: center;
}

#content {
    display: flex;
}

#sidebar {
    margin-top: 10px;
    width: 25%;
    min-width: 250px;
    padding: 20px;
    border: 1px solid var(--pig);
}

#sidebar > img {
    border: 1px solid var(--pig);
}

#main {
    width: 75%;
    min-width: 750px;
    padding: 10px;
}

#footer {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.figure {
    text-align: center;
}

.caption {
    font-size: 10px;
    text-align: center;
}
