:root {
    --pig: #f9bea9;
    --pig-light: #ffe8db;
    --purp: #d2b6dd;
    --purp-semi: #e0cfe8;
    --purp-light: #eee5f2;
    --bg: #fff;
    --charcoal: #333;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0px;
}

#content {
    margin: 0px auto;
    width: 75%;
    min-width: 800px;
}

h1 {
    background-color: var(--bg);
    margin: 0px;
    padding: 25px 0;
    position: relative;
    z-index: 2;
}

#header {
    display: inline-block;
}

.photo {
    padding-top: 10px;
    padding-left: 10px;
    width: 100px;
}

#blurb {
    position: relative;
    top: -10px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    background-color: var(--bg);
}

#quote {
    top: 30px;
    position: relative;
}

.first {
    margin-top: 30px;
}

.center {
    text-align: center;
}

#posts {
    margin-top: 40px;
}

.post h2 {
    /*border-bottom: 1px solid var(--charcoal);*/
    padding: 10px;
}

.post h2 .pin {
    font-size: 12px;
    font-weight: normal;
    margin-left: 5px;
}

.post img {
    padding: 5px;
}

.post .caption {
    font-size: 12px;
}

.post .date {
    font-size: 16px;
    margin-right: 10px;
    font-weight: normal;
}

#footer {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul, li {
    border: none;
}

#links > ul > li {
    display: inline-block;
    font-size: 14px;
}

#links > ul > li a {
    padding: 10px;
    background-color: var(--pig);
    text-decoration: none;
    color: black;
    border: 1px solid var(--pig);
    position: relative;
    z-index: 2;
}

#links > ul > li a.category {
    background-color: var(--purp);
    border: 1px solid var(--purp);
}

#links > ul ul {
    transform: translateY(-140px);
    transition: transform 250ms ease-in-out;
    position: absolute;
    z-index: 1;
}

#links > ul ul > li {
    display: block;
    top: 10px;
    position: relative;
}

#links > ul ul a {
    background-color: var(--purp-semi);
    color: black;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--purp);
    border-top: none;
}

#links > ul ul > li:first-child a {
    border-top: 1px solid var(--purp);
}

#links > ul > li > a:hover {
    background-color: var(--pig-light);
}

#links > ul > li > a.category:hover, #links > ul ul a:hover {
    background-color: var(--purp-light);
}
