:root {
    --pig: #f9bea9;
    --pig-light: #ffe8db;
    --purp: #d2b6dd;
    --purp-semi: #e0cfe8;
    --purp-light: #eee5f2;
    --bg: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: var(--pig);
}

#curtain {
    height: 10px;
    position: relative;
    z-index: 2;
    background-color: var(--pig);
}

#content {
    margin: 0px auto;
    width: 75%;
    min-width: 600px;
    background-color: var(--pig);
}

#curtain, #inner-content {
    padding-left: 20px;
    padding-right: 20px;
}

#inner-content {
    border-radius: 10px;
    background-color: var(--bg);
}

h1 {
    background-color: var(--bg);
    margin: 0px;
    padding: 22px 0;
    position: relative;
    z-index: 2;
}

hr {
	border: 3px solid var(--pig);
	border-radius: 10px;
}

#blurb {
    font-size: 12px;
    position: relative;
    top: -10px;
    padding-bottom: 20px;
    position: relative;
    z-index: 2;
    background-color: var(--bg);
}

.pin {
    font-size: 12px;
    font-weight: normal;
    position: relative;
    margin-left: 5px;
}

.center {
    text-align: center;
}

.post {
    font-size: 14px;
}

.post .body {
    line-height: 140%;
}

.post img {
    padding: 5px;
}

.post .caption {
    line-height: 100%;
    font-size: 12px;
}

.post .date {
    font-size: 16px;
    margin-right: 10px;
    float: right;
    font-weight: normal;
    position: relative;
    top: 8px;
}

.post .title {
    margin-right: 4px;
}

.post:last-child > hr {
	margin-top: 30px;
}

#posts {
    margin-top: 40px;
}

#posts h4.recent {
    background-color: var(--pig);
    padding: 5px;
    font-weight: normal;
    border-radius: 5px;
}

#quote {
    font-size: 12px;
    font-style: italic;
    top: 24px;
    position: relative;
}

#footer {
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#links ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

ul, li {
    border: none;
}

#links > ul > li {
    display: inline-block;
}

#links > ul > li a {
    padding: 10px;
    background-color: var(--pig);
    text-decoration: none;
    color: black;
    border: 1px solid var(--pig);
    position: relative;
    z-index: 2;
}

#links > ul > li a.category {
    background-color: var(--purp);
    border: 1px solid var(--purp);
}

#links > ul ul {
    transform: translateY(-140px);
    transition: transform 250ms ease-in-out;
    position: absolute;
    z-index: 1;
}

#links > ul ul > li {
    display: block;
    top: 10px;
    position: relative;
}

#links > ul ul a {
    background-color: var(--purp-semi);
    color: black;
    display: inline-block;
    font-size: 14px;
    width: 100%;
    border: 1px solid var(--purp);
    border-top: none;
}

#links > ul ul > li:first-child a {
    border-top: 1px solid var(--purp);
}

#links > ul > li > a:hover {
    background-color: var(--pig-light);
}

#links > ul > li > a.category:hover, #links > ul ul a:hover {
    background-color: var(--purp-light);
}
